<nav [class]="atTop?'':'active'">
  <div class="navLeft">
    <a class="logo" routerLink="">
      <img ngSrc="favicon.ico" alt="logo" height="140" width="140">
      <span>Fin</span>lyze
    </a>
    <div [class]="[active && 'active']">
      <a routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">
        Product
      </a>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
        About Us
      </a>
    </div>
  </div>
  <div class="navRight">
    <a routerLink="/signin" routerLinkActive="active" ariaCurrentWhenActive="page">
      Sign In
    </a>
    <div [class]="['menu', active && 'active']" (click)="onDisplay()">
      <hr>
      <hr>
      <hr>
    </div>
  </div>
</nav>
<main [class]="[active && 'active']">
  <router-outlet></router-outlet>
</main>
