@import "variables.scss";
@import "mixins.scss";
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  &::before {
    content: '';
    z-index: -1;
    border-radius: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  div.navLeft {
    display: flex;
    align-items: center;
    gap: 3rem;
    a {
      text-decoration: none;
      color: $text;
      font-weight: normal;
      display: flex;
      align-items: center;
      font-size: 1.9rem;
      img {
        height: 1.7rem;
        width: auto;
        margin-right: 0.8rem;
      }
      span {
        color: $primary-blue;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 3rem;
      a {
        font-size: 1.2rem;
        font-weight: 300;
        position: relative;
        width: auto;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 0.1rem;
          transform: scaleX(0);
          background-color: $primary-blue;
          transition: 0.2s ease-in-out;
        }
        &:hover::after, &.active::after {
          transform: scale(1);
        }
      }
    }
  }
  div.navRight {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    a {
      cursor: pointer;
      border: 0.1rem solid $primary-blue;
      border-radius: 0.8rem;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      color: $text;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $secondary-blue;
      }
      &.active {
        display: none;
      }
    }
    div.menu {
      cursor: pointer;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      height: 1.4rem;
      width: 1.8rem;
      hr {
        margin: 0;
        width: 100%;
        height: 0.16rem;
        border-radius: 0.1rem;
        background-color: $text;
        border: none;
        transition: all 0.2s ease-in-out;
      }
      &.active {
        hr {
          &:nth-child(1) {
            transform: translateY(0.62rem) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-0.62rem) rotate(-45deg);
          }
        }
      }
    }
  }
  &.active::before {
    opacity: 0.12;
  }
}

@include XS {
  main {
    width: 100%;
    height: 100vh;
    transition: filter 0.2s ease-in-out;
    &.active {
      pointer-events: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      filter: blur(0.5em);
      -webkit-filter: blur(0.5em);
    }
  }
  nav {
    div.navLeft {
      div {
        top: 4rem;
        right: 0;
        transform: translateX(100%);
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 3em;
        padding: {
          right: 1.7rem;
          top: 2rem;
        }
        transition: transform 0.2s ease-in-out;
        &.active {
          transform: translateX(0);
        }
        a::after {
          transform: none;
          right: 0;
          left: unset;
          width: 0;
        }
        a:hover::after, a.active::after {
          transform: none;
          width: 100%;
        }
      }
    }
    div.navRight {
      div.menu {
        display: flex;
      }
    }
  }
}
