<app-canvas-background/>
<main>
  <h1>Forgot your password?</h1>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    Enter your email address and we'll send you a link to reset your password.
    <div class="error" *ngIf="emailError">
      {{ emailError }}
    </div>
    <div class="error" *ngIf="serverError">
      {{ serverError }}
    </div>
    <div class="success" *ngIf="sent">
      Email successfully sent
    </div>
    <app-text-field [form]="forgotPasswordForm" type="text" name="email"/>
    <app-button type="submit" [loading]="loading">
      Submit
    </app-button>
  </form>
</main>
