<app-canvas-background/>
<main>
  <h1>Sign In</h1>
  <form action="">
    <div class="text">
      <label for="email">Email</label>
      <input id="email" type="text">
    </div>
    <div class="text">
      <label for="password">Password</label>
      <input id="password" type="password">
    </div>
    <div class="remember">
      <label for="remember">Remember me?</label>
      <input id="remember" type="checkbox">
    </div>
    <button type="submit">
      Sign In
    </button>
  </form>
</main>
