input {
    height: 40px;
    padding: 2px 20px 2px 20px;
    border-radius: 30px;
    border-color:lightgray;
    border-width:2px;
    border-style:solid;
    background-color:transparent;
    color:white;
    font-size:30px;
    
}
#main{
    display:flex;
    align-content:center;
    
    svg {
        margin-left:10px;
    }
}