@import 'variables.scss';
input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: $text 1px solid;
  background-color:transparent;
  color: $text;
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
}
input:focus {
  outline: none;
  border: $primary-blue 1px solid;
}
div.results {
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: $text 1px solid;
    color: $text;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    div {
      h2 {
        margin-top: 0;
      }
    }
    span {
      color: $text-dark;
    }
  }
}
div.error {
  color: $text;
  font-size: 1.2rem;
  margin-top: 1rem;
}
