<div>
    <div id="main">
        <input type="text" (keyup)="searchStocks($event)" name="ticker" placeholder="Enter ticker"/>
        
        
    </div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="stocks.length >0" class="results">
    <h2>Results</h2>
    <p class="stock" *ngFor="let stock of stocks">
      <strong>{{ stock.symbol }}</strong> <br>
      {{ stock.name }}
    </p >
  </div>

  <div *ngIf="!isLoading && stocks.length === 0 && !error">
    <p>No results found.</p>
  </div>
</div>


