<div>
    <div id="main">
        <input type="text" (keyup)="searchStocks($event)" name="ticker" placeholder="Enter ticker"/>
        
        
    </div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="stocks.length >0" class="results">
    <h2>Results</h2>
    <div class="stock" *ngFor="let stock of stocks">
      <p class="stocktitle">
        <span><strong>{{ stock.symbol }}</strong></span> 
        <span style="color:gray">{{ stock.exchange }}</span>
      </p>
      <p>
        {{ stock.name }}
      </p>
      
    </div>
  </div>

  <div *ngIf="!isLoading && stocks.length === 0 && !error">
    <p>No results found.</p>
  </div>
</div>


