input {
    height: 40px;
    padding: 2px 20px 2px 20px;
    border-radius: 30px;
    border-color:lightgray;
    border-width:2px;
    border-style:solid;
    background-color:transparent;
    color:white;
    font-size:30px;
    
}
.stocktitle{
  display:flex;
  justify-content: space-between;
}
.stock {
  padding: 10px 20px 10px 20px;
  background-color:white;
  color:black;
  border-radius: 10px;
  width: 50%;
  line-height:30px;
  margin:20px;
}
#main {
    display:flex;
    align-content:center;
    
    #searchButton {
        margin-left:10px;
        background-color:transparent;
    }
}