<app-canvas-background/>
<main>
  <h1>Change your password</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" *ngIf="!changed">
    <app-text-field [form]="changePasswordForm" type="password" name="password">
      Password
    </app-text-field>
    <div class="error" *ngIf="passwordError">
      {{ passwordError }}
    </div>
    <app-text-field [form]="changePasswordForm" type="password" name="confirmPassword">
      Confirm password
    </app-text-field>
    <div class="error" *ngIf="confirmPasswordError">
      {{ confirmPasswordError }}
    </div>
    <app-button type="submit">
      Change password
    </app-button>
  </form>
  <div class="success" *ngIf="changed">
    Successfully changed password. <a routerLink="/signin">Click here to sign in to your account</a>
  </div>
</main>
