nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  div.navLeft {
    display: flex;
    align-items: center;
    gap: 3rem;
    a {
      text-decoration: none;
      color: var(--text);
      font-size: 1.2rem;
      font-weight: 300;
      &.logo {
        font-weight: normal;
        display: flex;
        align-items: center;
        font-size: 1.9rem;
        img {
          height: 2.3rem;
          width: 2.3rem;
          margin-right: 0.8rem;
        }
        span {
          color: var(--primary-blue);
        }
      }
      &:not(.logo) {
        position: relative;
        width: auto;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 0.1rem;
          transform: scaleX(0);
          background-color: var(--primary-blue);
          transition: 0.2s ease-in-out;
        }
        &:hover::after, &.active::after {
          transform: scale(1);
        }
      }
    }
  }
  div.navRight {
    a {
      border: 0.1rem solid var(--primary-blue);
      border-radius: 0.8rem;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      color: var(--text);
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: var(--secondary-blue);
      }
      &.active {
        display: none;
      }
    }
  }
}
