$bg: #1c2022;
$text: #fff;
$text-dark: #cccccc;
$primary-blue: #51C6E0;
$secondary-blue: #37798350;
$primary-red: #e43f3f;
$secondary-red: #e43f3f50;
$primary-green: #4fc844;
$secondary-green: #4fc84450;
$primary-font: 'Inter', sans-serif;
