@import 'variables.scss';
label {
  cursor: pointer;
  display: flex;
  width: fit-content;
  align-items: center;
  font-weight: 200;
  div {
    position: relative;
    display: flex;
    margin-right: 0.6rem;
    border-radius: 0.3rem;
    input {
      height: 100%;
      width: 100%;
      visibility: hidden;
      &:checked~span {
        background-color: $secondary-blue;
      }
      &:checked~span::after {
        display: block;
      }
    }
    span {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      display: block;
      height: 100%;
      width: 100%;
      background-color: transparent;
      border: 1px solid $primary-blue;
      border-radius: inherit;
      &::after {
        content: "";
        position: absolute;
        display: none;
        left: 35%;
        top: 13%;
        width: 25%;
        height: 50%;
        border: solid white;
        border-width: 0 0.1rem 0.1rem 0;
        transform: rotate(45deg);
      }
    }
  }
}
