/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf');
}

:root {
  --bg: #1c2022;
  --text: #fff;
  --text-dark: #cccccc;
  --primary-blue: #51C6E0;
  --secondary-blue: #37798350;
  --primary-font: 'Inter';
  background-color: var(--bg);
  font-family: var(--primary-font), sans-serif;
  color: var(--text);
}

html, body {
  width: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background-color: rgba(#fff, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#fff, 0.7);
}
